.destinations {
    background: whitesmoke;
}

.containter .quiestion {
    color: black;
    margin-top: 0rem;
    padding: 2rem;
    font-size: 32px;
    margin-left: 6rem;
    margin-right: 4rem;
    text-align: center;
    font-weight: 800;
}
.pitanje1 {
    padding: 2rem;
    font-size: 24px;
    margin-left: 4rem;
    margin-right: 40rem;
}

.odgovor {
    font-size: 22px;
    margin-left: 4rem;
    margin-right: 40rem;
}


.highlight {
    color: orange; 
   
}


.imgOnama {
    margin-top: -22rem;
    margin-right: 4rem;
    margin-left: 65rem;
    width: 25%;
    margin-bottom: 3rem;
}

